/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html{
    font-size: 16px;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #cfd1d2;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
  }
  
  .main-container {
      background-color: #79a7ad; 
      padding: 20px;
      border-radius: 10px; 
      box-shadow: 0 2px 10px rgba(0, 0, 0, 2.5); 
      width: 90%; 
      height: 500px;
      max-width: 600px;
  }
  
  /* Search Bar Styles */
  
.search-container{
  position: relative;
  

}
.search-box{
  width: 100%;
  display: inline-block;
  padding: 10px 50px 10px 20px;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem; 
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 2.5); 

}
/* .search-box */
.search-city{
  display: inline-block;
  border: none;
  padding: 10px;
  background: transparent;
  position: absolute;
  right: 8px;
  cursor: pointer;

}



  
 .search-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }
  

  
  /* sytle for messege */
  
  .message-img {
    text-align: center;
    display: block;
  }
  
  .message-img img {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    border-radius: 50%;
  }
  

  
.current-weather-info{
  display: none;
}

  .location-desc{
    margin: 20px;
    display: flex;
  }
  .location-icon img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
  }

  .location-name{
    margin-top: 4px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


 


  .weather-display {
    max-width: 450px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
    padding: 10px;

  }

.weather-img {
    margin-right: 75px; 
}

.weather-picture {
    width: 120px; 
    height: auto; 
}

.weather-temp {
    text-align: center;
}

.temperature-value {
    font-size: 2.5rem; 
    font-weight: bold; 
    color: #ff4500; 
    margin: 0; 
}







.weather-summary {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f8ff; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.humidity-info, .wind-info {
  display: flex;
  align-items: center; 
  flex: 1; 
  padding: 10px; 
}

.humidity-img, .wind-speed-img {
  width: 40px; 
  height: 40px; 
  margin-right: 10px;
}

.humidity-details, .speed-details {
  font-size: 1.5rem; 
  font-weight: bold;
}

.humidity-name, .speed-name {
  font-size: 0.9rem; 
  color: #555; 
}







/* Responsive styles */
@media (max-width: 768px) {
 

  .weather-img img {
      width: 100px;
  }

  .weather-temp p {
      font-size: 2.5rem;
  }



  .humidity-info, .wind-info {
      margin-bottom: 15px;
  }
}


@media (max-width: 480px) {
  /* .search-box {
      width: 100%;
  } */

  

  .weather-temp p {
      font-size: 1.7rem;
  }

  .location-name {
      font-size: 1.2rem;
  }

  .weather-summary {
    flex-direction: column;
    align-items: center;
}

  .humidity-img, .wind-speed-img {
    width: 30px; 
    height: 30px; 
    margin-right: 10px;
  }

  .humidity-details, .speed-details {
    font-size: 1.2rem; 
    font-weight: bold;
  }

  .humidity-name, .speed-name {
    font-size: 0.6rem; 
    color: #555; 
  }

}